<% provide(:title, "Matches")%>

	<!-- main page container stuff below here -->


	<div class=" container">
	
			<!--loads last ten matches -->
			<% @the_count = [-1,0,1, 2, 3, 4, 5,6,7,8,9] %>
			<% @the_count.each_with_index do |x, index| %>

			<table class= "table table-responsive row devborder" >
				
				<% if index==0 %>

				<thead class="devborder">
					<tr>
						<th>Match ID</th>
						<th>Hero</th>
						<th>Kills</th>
						<th>Deaths</th>
						<th>XPM</th>
						<th>GPM</th>
						<th>Hero damage</th>
						<th>Tower Damage</th>
						<th>Healing</th>
						<th>Side</th>
						<th>Win?</th>
					</tr>
				</thead>
		
				<% else %>
				
					<% playerSlot=@parsed[x]['player_slot'] %>
					<!-- applies the appropriate hero name and picture -->
					<%h_id = @parsed[x]['hero_id']-2  %> 

					<% @hero_img ='http://cdn.dota2.com/' + @hero_list[h_id]['icon']%>
							
							<tr class="devborder col-md">
							<td><%=	@parsed[x]['match_id'] %> </td>
							<td>
								<%= image_tag(@hero_img)%>
								<%=	 @hero_list[h_id]['localized_name'] %> 
							</td>
							<td id="kills"><%= @parsed[x]['kills'] %> 	   </td>
							<td id="deaths"><%= @parsed[x]['deaths'] %>    </td>

							
						<!-- determines if player was radiant or dire -->
							<% if playerSlot < 5 %>
					        <%   @isRadiant = true; %>
					        	<td id="radiant"><%= 'Radiant' %></td>
					        <%else%> 
					        <%   @isRadiant = false;%>
					        	<td id="dire"><%= 'Dire' %> </td>
							<%end %>
							<!-- determines winner -->
							<% if @parsed[x]['radiant_win'] == true and @isRadiant== true %>
							<% 		victory = true %>
							<% elsif @parsed[x]['radiant_win'] ==true and @isRadiant == false %>
							<%		victory = false %>
							<% elsif @parsed[x]['radiant_win']==false and @isRadiant == true %>
							<%		victory = false %>
							<% else %>
							<%		victory = true %>
							<% end%>
							<!-- displays the victory or defeat condition -->
							<% if victory == true %>
								<td id="victory"><%= 'VICTORY' %></td>
							<% else %>
								<td id="defeat"><%='DEFEAT' %> </td>
							<% end %>


							<div id="accordion">
							  <div class="card">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
							         <p>Match <%=@parsed[x]['match_id'] %>  </p>


							        </button>
							      </h5>
							    </div>

							    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							      	
							      		<tr>
											<td><%= @parsed[x]['xp_per_min'] %> 		   </td>
											<td><%= @parsed[x]['gold_per_min'] %> 		   </td>
											<td><%= @parsed[x]['hero_damage'] %>		   </td>
											<td><%= @parsed[x]['tower_damage'] %>		   </td>
											<td><%= @parsed[x]['hero_healing'] %>		   </td>
										</tr>
							      </div>
							    </div>
							  </div>

							  

							    </div>
							  </div>
							</div>
						</tr>
			
	
					<%end%>
				<% end %>
			</table>
			
	

	</div>  



