 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
	<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">

	  <a class="navbar-brand" href="#"><img id="logo" width="65" height="65" src="/pixelwhiskey.gif">Whiskey Gaming</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	       <a class="nav-link" <%= link_to "Home", root_path %></a> 
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'About Us', about_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Teams', teams_path %> </a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Your Matches', matches_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Leaderboards', leaderboard_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Meta', meta_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Members', members_path %></a>
	      </li>

</ul>

  </div>
	</nav>
	      <% if current_user %>
			<% profile_path(current_user) %>
		
 			<h6>Welcome, <%=link_to current_user.nickname, profile_path(current_user)  %> | <%= link_to 'Log Out', logout_path, method: :delete %> 
 			 </h6>
	         
	       

	      

	      <% else %>
	     
	          <li class="nav-item"><%= link_to 'Log In via Steam', '/auth/steam' %></li>
	     
      <% end %>

       

	
	
</header>